<div class="container">
  <mat-tab-group class="modern-tabs" animationDuration="200ms">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">groups</mat-icon>
        <span>Miembros</span>
      </ng-template>
      <div class="tab-content">
        <app-informe-miembros></app-informe-miembros>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">monetization_on</mat-icon>
        <span>Ofrendas</span>
      </ng-template>
      <div class="tab-content">
        <app-informe-ofrendas></app-informe-ofrendas>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">event</mat-icon>
        <span>Eventos</span>
      </ng-template>
      <div class="tab-content">
        <app-informe-eventos></app-informe-eventos>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">inventory_2</mat-icon>
        <span>Inventario</span>
      </ng-template>
      <div class="tab-content">
        <app-informe-inventario></app-informe-inventario>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">workspace_premium</mat-icon>
        <span>Certificaciones</span>
      </ng-template>
      <div class="tab-content">
        <app-informe-certificados></app-informe-certificados>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
