<h2 mat-dialog-title>
  <mat-icon class="title-icon">edit</mat-icon>
  Editar Tipo de Evento
</h2>

<form [formGroup]="tipoEventoForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>

    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" placeholder="Ej. Bautismo">
      <mat-error>{{ getError('nombre') }}</mat-error>
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!tipoEventoForm.valid">
        <mat-icon>save</mat-icon>
        Guardar
      </button>
    </mat-dialog-actions>

  </mat-dialog-content>
</form>
