.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.nuevo-buscar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.mat-table {
  width: 100%;
  margin-top: 20px;
}

.mat-cell {
  padding: 8px;
}

mat-row:hover {
  background-color: #e0f7fa;
  /* Cambia este color a uno de tu preferencia */
}

.clickable-row {
  cursor: pointer;
}

/* vista movil */
@media (max-width: 768px) {

  .mat-column-celular,
  .mat-column-fechaConvercion,
  .mat-column-sexo {
    display: none;
  }

  .container {
    padding: 12px;
  }

  .nuevo-buscar {
    flex-direction: column;
    align-items: stretch;
  }

  .nuevo-buscar button {
    width: 100%;
    margin-bottom: 12px;
  }

  .mat-form-field {
    width: 100%;
  }
}